<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/shugo/Dropbox/GitHub/dynamicPatchTiling/poisson_disk_sampliing/poisson_disk_sampling.xcodeproj</string>
</dict>
</plist>
